<body>
  <%@template = @formulario.template%>
  <% @resultados = Resultado.where(formulario: @formulario) %>

  <h1>Resultados do Formulário <%= @formulario.nome %></h1>
  <h1> <%= Template: @template.nome %></h1>

  <% @template.questaos.each do |questao|%>
    <h2><%= questao.pergunta %></h2>
    <ul>
      <% questao.alternativas.each do |alternativa| %>
         <% resultado = @resultados.find { |r| r.alternativa_id == alternativa.id } %>
        <li><%= alternativa.texto %> - Resultados: <%= resultado.present? ? resultado.resposta.quantidade_de_alunos : 0 %> votos</li>
      <% end %>
    </ul>
  <%end%>
</body>