<%= stylesheet_link_tag "edit" %>
<body>
  <div class='edit-container'>
    <% @template = @formulario.template %>

    <div class='titulo'>
      <%= "Resultados do Formulário: " +  @formulario.nome %>
      <br>
      <%= "Template: " +  @template.nome %>
    </div>
  
    <div class='questaos-container'>
      <% @template.questaos.each do |questao| %>
        <h2><%= questao.pergunta %></h2>
        <% if questao.tipo.discursiva %>
          <ul>
            <% questao.alternativas.each do |alternativa| %>
              <% @resultado = Resultado.find_by(formulario: @formulario, template: @template, questao: questao, alternativa: alternativa) %>
              <li><%= alternativa.texto + " - Resultados: " + @resultado.respostas.to_s + " votos" %></li>
            <% end %>
          </ul>
        <% else %>
          <div>
            <% @resultado_discursivo = Resultado.find_by(formulario: @formulario, template: @template, questao: questao) %>
            <% if @resultado_discursivo.present? %>
              <% resultado_discursivo.respostas_discursivas.split("#").each do |discursiva| %>
                <div>
                  <%= discursiva %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='buttons'>
      <%= link_to 'Voltar para Home Docente', home_docente_path, class: 'btn btn-primary' %>
    </div>
  </div>
</body>
