<body>
  <h1>Criar Novo Template</h1>

  <%= form_for @template, url: templates_path do |template_form| %>
    <%= template_form.label :nome, "Nome do Template:" %>
    <%= template_form.text_field :nome, required: true %>

    <h2>Adicionar Questão</h2>
    <%= form_for @questao, url: template_questaos_path(@template) do |questao_form| %>
      <%= questao_form.label :pergunta, "Título da questão" %>
      <%= questao_form.text_field :pergunta, required: true %>

      <%= form_for @alternativa, url: template_questao_alternativas_path(@template, @questao) do |alternativa_form| %>
        <%= alternativa_form.label :texto, "Alternativa da questão" %>
        <%= alternativa_form.text_field :texto, required: true%>
      <%end%>

      <%= questao_form.submit "Adicionar Questão" %>
    <% end %>

    <%= template_form.submit "Criar Template" %>
  <% end %>
</body>
