<%= stylesheet_link_tag "base" %>
<%= stylesheet_link_tag "templates" %>
<%= stylesheet_link_tag "send_template" %>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

<body>
  <div class="header-bar">
    <div class="left-frame">
      <button class="menu-button" id="menuButton" >&#9776;</button>
      <div class="side-bar" id="sideBar">
        <div class="select-button" id="templatesButton">Avaliações</div>
        <div class="select-button" id="managementButton">Gerenciamento</div>
      </div>
    </div>

    <span class="header-text">Gerenciamento - Templates</span>

    <%= form_tag(templates_path, method: "get", class: "search-bar") do %>
        <%= text_field_tag :nome, params[:nome], placeholder: "Buscar por nome do template", class: "search-bar-input" %>
        <%= submit_tag "&#128269;".html_safe, class: "search-icon" %>
    <% end %>

    <button class="user-button" id="userButton"><%=current_user.nome[0].upcase%></button>

    <div class="sign-out" id="signOut">
      <%= link_to "Sair", destroy_user_session_path, method: :delete %>
    </div>
  </div>
  <div class="content-frame">
    <div class="templates-container" id="templatesContainer">
      <div class="templates-box">
        <% if @templates.any? %>
          <% @templates.each do |template| %>
            <div class="templates-textbox">
              <div class="templates-name"><%= template.nome.capitalize %></div>
             <div class="semester"><%= FormulariosTurma.find_by(formulario: Formulario.find_by(template: template)).turma.semestre %></div>
              <div class="professor"><%= template.docente.user.nome %></div> 
            </div>
            <div class="templates-buttonbox">
              <div>
                <%= link_to "", edit_template_path(template), class:"edit-button" %>
              </div>
              <div>
                <%= link_to "", template_path(template), method: :delete, data: { confirm: 'Tem certeza?' }, class:"trash-button" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>Nenhum template encontrado.</p>
        <% end %>
      </div>
      <div class="add-templates-box">
       <%= link_to '', new_template_path, class: 'add-button'%>
      </div>
    </div>

    <div class="management-contents" id="managementContents"  style="display: none;">
      <div class="button-box">
        <button type="button" class="button" id="btnImportarDados">Importar dados</button>
        <button type="button" class="button" id="btnAddQuestao">Adicionar Questão</button>
        <button type="button" class="button" id="btnCriarFormularios">Criar Formulários</button>
        <button type="button" class="button" id="btnVerResultados">Resultados</button>
      </div>

      <div class="editor-box" id="ImportarDados" style="display: none;">
        <h1>Importar Disciplinas</h1>

        <%= form_with url: import_disciplinas_path, local: true, method: :post, multipart: true do |form| %>
          <div>
            <%= form.label :file, "JSON File" %>
            <%= form.file_field :file %>
          </div>
          <div>
            <%= form.submit "Upload" %>
          </div>
        <% end %>

        <h1>Importar Turmas</h1>

        <%= form_with url: import_turmas_path, local: true, method: :post, multipart: true do |form| %>
          <div>
            <%= form.label :file, "JSON File" %>
            <%= form.file_field :file %>
          </div>
          <div>
            <%= form.submit "Upload" %>
          </div>
        <% end %>
      </div>

      <div class="editor-box" id="AdicionarQuestao" style="display: none;">
        
      </div>

      <div class="editor-box" id="CriarFormularios" style="display: none;">
        <%= form_with url: formularios_path, method: :post, local: true do |f| %>
          <label>Template:
            <%= f.select :template_id, options_from_collection_for_select(@templates, :id, :nome) %>
          </label>
          <br>
          <label>Nome do Formulário:
            <%= f.text_field :nome %>
          </label>
          <br>
          <table>
            <tr>
              <th style="width: 10%; padding: 5px;"></th>
              <th style="width: 22,5%; padding: 10px;">Disciplina</th>
              <th style="width: 22,5%; padding: 10px;">Data de Término</th>
              <th style="width: 22,5%; padding: 10px;">Semestre</th>
              <th style="width: 22,5%; padding: 10px;">Class Code</th>
            </tr>

            <% @turmas.each do |turma| %>
              <tr>
                <td><%= check_box_tag "formularios[turma_ids][]", turma.id %></td>
                <td><%= turma.codigo %></td>
                <td><%= f.date_field :data_termino %></td>
                <td><%= turma.semestre %></td>
                <td><%= turma.class_code %></td>
              </tr>
            <% end %>
          </table>

          <%= f.submit "Criar", class: "send-template-button" %>
        <% end %>
      </div>

      <div class="editor-box" id="VerResultados" style="display: none;">
        <form class="template-selector-form">
          <label>Classes:
            <select class="template-selector" id="classSelector" name="template">
              <% @turmas.each do |turma| %>
                <option value="<%= turma.id %>"><%= turma.codigo + " - " + turma.horario %></option>
              <% end %>
            </select>
          </label>
        </form>

        <table id="resultadosTable">
          <tr>
            <th style="width: 33%; padding: 10px;">Formulario</th>
            <th style="width: 33%; padding: 10px;">Data de Término</th>
            <th style="width: 33%; padding: 10px;">Template</th>
          </tr>

          <% @formularios.each do |formulario| %>
            <tr>
              <td><%= link_to formulario.nome.capitalize, resultados_formulario_path(formulario) %></td>
              <td><%= formulario.dataDeTermino %></td>
              <td><%= formulario.template.nome %></td>
            </tr>
          <% end %>
        </table>
      </div>


      </div>
    </div>
  </div>
  <%= javascript_include_tag 'menu.js' %>
  <%= javascript_include_tag 'sign-out.js' %>
  <%= javascript_include_tag 'template-management.js' %>
  <%= javascript_include_tag 'opcoes-management.js' %>

</body>